#main {
  width: 100%;
  height: 600px;
  background: #f51348; }
  #main .main {
    width: 1190px;
    height: 100%;
    margin: 0 auto;
    position: relative;
    background: url(https://gw.alicdn.com/tfs/TB1GWty1xz1gK0jSZSgXXavwpXa-1190-600.png) no-repeat center center; }
    #main .main aside {
      width: 350px;
      height: 350px;
      background: #fff;
      border: 50px solid #fff;
      position: absolute;
      top: 50px;
      right: 100px; }
      #main .main aside h2 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 10px;
        font-weight: bolder; }
        #main .main aside h2 a {
          display: block;
          color: #3c3c3c;
          font-size: 16px;
          margin-right: 10px;
          padding: 5px;
          line-height: 20px;
          font-weight: bolder !important; }
          #main .main aside h2 a:hover {
            text-decoration: none; }
        #main .main aside h2 a:first-child {
          border-bottom: 2px solid #3c3c3c; }
      #main .main aside form {
        width: 100%; }
        #main .main aside form input {
          width: 100%;
          height: 42px;
          padding-left: 50px;
          box-sizing: border-box;
          background: url(../images/login-psw.png) no-repeat left center;
          background-size: 40px 100%;
          border: 1px solid #6c6c6c;
          margin: 10px 0;
          font-size: 14px;
          color: #6c6c6c;
          outline: none; }
        #main .main aside form input:nth-of-type(1) {
          background-image: url(../images/login-user.png); }
        #main .main aside form p {
          width: 100%;
          height: 42px;
          background: #ff0036;
          font-size: 16px;
          color: #fff;
          letter-spacing: 5px;
          border: 0;
          margin: 10px 0;
          text-align: center;
          line-height: 42px;
          font-weight: bolder;
          cursor: pointer; }
      #main .main aside div {
        display: flex;
        justify-content: flex-start;
        align-items: center; }
        #main .main aside div a {
          padding: 0 10px;
          color: #6c6c6c; }
          #main .main aside div a:hover {
            text-decoration: underline; }
        #main .main aside div a:nth-of-type(1) {
          flex: 1; }
