h2 {
  width: 990px;
  height: 56px;
  margin: 0 auto;
  margin-top: 20px; }
  h2 img {
    width: 80%;
    height: 100%;
    margin: 0 auto;
    display: block; }

#main .main aside a {
  text-decoration: none; }
